name: Build

on:
  release:
    types: [published]
  workflow_dispatch:

env:
    OUROBOROS_VERSION: 1.7.0

jobs:
  build:
    name: Docker Build on ubuntu-latest
    runs-on: ubuntu-latest
    steps:
    - name: Check Credentials
      id: check_credentials
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
        DOCKER_CLITOKEN: ${{ secrets.DOCKER_CLITOKEN }}
      run: |
        if [ "${DOCKER_USER}" == "" ]; then
          echo "Missing User"
          echo "##[set-output name=missingsecrets;]$(echo yes)"
        elif [ "${DOCKER_CLITOKEN}" == "" ]; then
          echo "Missing Cli Token"
          echo "##[set-output name=missingsecrets;]$(echo yes)"
        else
          echo "All secrets present"
          echo "##[set-output name=missingsecrets;]$(echo no)"
        fi
    - name: Checkout Repository
      if: contains(steps.check_credentials.outputs.missingsecrets, 'no')
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
    - name: Set up QEMU
      if: contains(steps.check_credentials.outputs.missingsecrets, 'no')
      uses: docker/setup-qemu-action@v1
      with:
        platforms: amd64,arm64,arm
    - name: Set up Docker Buildx
      if: contains(steps.check_credentials.outputs.missingsecrets, 'no')
      uses: docker/setup-buildx-action@v1
      with:
        version: latest
    - name: Login to DockerHub Registry
      if: contains(steps.check_credentials.outputs.missingsecrets, 'no')
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_CLITOKEN }}
        logout: true
    - name: Update Version String
      if: contains(steps.check_credentials.outputs.missingsecrets, 'no')
      run: |
        sed -i -r 's/VERSION = "custom"/VERSION = "$OUROBOROS_VERSION"/' pyouroboros/__init__.py
        echo $?\
    - name: Build and Push Docker
      if: contains(steps.check_credentials.outputs.missingsecrets, 'no')
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/amd64,linux/arm64,linux/arm/v7
        push: true
        tags: |
          ${{ secrets.DOCKER_USER }}/ouroboros:${{ env.OUROBOROS_VERSION }}
          ${{ secrets.DOCKER_USER }}/ouroboros:latest
